<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
    bean-discovery-mode="all">

    <interceptors>
        <class>com.chriniko.example.posts.crosscut.LoggedInterceptor</class>
    </interceptors>

    <alternatives>
        <!-- Note: comment/uncomment to see how the alternatives work -->
        <class>com.chriniko.example.notes.control.UppercaseNoteTracker</class>
    </alternatives>
</beans>